.login-wrapper {
  display: flex;
  justify-content: center;
  align-items: flex-start; 
  height: 100vh;
  padding-top: 200px; 
  background: linear-gradient(to bottom, black, red);
}

.login-container {
  width: 500px;
  background: linear-gradient(to top, black, rgb(58, 58, 58));
  color: white;
  padding: 2rem 3rem;
  border-radius: 12px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.897);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.login-title {
  text-align: center;
}

.login-button {
  width: 100%;
  background-color: red;
}